HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
README.md

### VS Code ###
.vscode/

# OS
.DS_Store

# Logs
*.log

### Environment Variables ###
.env
application-local.yml

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar