HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class
DEVNOTES.md


### VS Code ###
.vscode/

# OS
.DS_Store

# Logs
*.log

### Environment Variables ###
.env
src/main/resources/application-local.yml

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

